.bg01 {
  position: relative;
  top: 0;
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: url(https://img.freepik.com/free-photo/assortment-sweet-juicy-fruits_23-2148144275.jpg);
}

#demo {
  position: absolute;
  top: 0;
  background-color: rgba(0, 0, 0, 0.241);
  width: 100%;
  height: 450px;
}